body{
    background-color: floralwhite;
}
h1
{
    font-family: 'Inknut Antiqua', serif;
    color: maroon;
}
#contenedor {
	margin-left: 298px;
    width: 800px;
}
.row {
	display: inline-block;
}
.ficha1 {
	position: absolute;
	width: 45px;
	height: 45px;
	background-color: darkred;
	margin-top: 15px;
    margin-left: 17px;
    border-radius: 35px;
    -webkit-box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);
}

.ficha2 {
	position: absolute;
	width: 45px;
	height: 45px;
	background-color: tan;
	margin-top: 15px;
    margin-left: 17px;
    border-radius: 35px;
    -webkit-box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);
}

.fDamas1 {
	position: absolute;
	width: 55px;
	height: 55px;
	background-image: url("corona_Roja.svg");
	margin-top: 13px;
    margin-left: 12px;
   
}

.fDamas2 {
	position: absolute;
	width: 55px;
	height: 55px;
	background-image: url("corona1.svg");
	margin-top: 13px;
    margin-left: 12px;
    
}


.col-black {
	display: inline-block;
	width: 80px;
	height: 80px;
	background-color: Peru;
}

.col-black-2 {
	display: inline-block;
	width: 80px;
	height: 80px;
	background-color: 	Wheat ;
}
.col-white {
	display: inline-block;
	width: 80px;
	height: 80px;
	background-color: NavajoWhite ;
}